@page
@model ShetaPersonal.Web.Pages.Admin.Danesh.DeleteDaneshModel
@{
    ViewData["Title"] = "حذف دانش";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
}

<div class="main-content" id="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <form method="post">
                        <input type="hidden" name="daneshid" value="@ViewData["daneshid"]" />
                        <dl class="dl-horizontal">
                            <dt>دانش : </dt>
                            <dd>@Model.Danesh.DaneshName</dd>
                            <dt></dt>
                            <dd>
                                <input type="submit" value="حذف" class="btn btn-danger" />
                            </dd>
                        </dl>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

