@page "{id}"
@model ShetaPersonal.Web.Pages.Admin.RezomeTechnologi.EditTechnologiModel
@{
    ViewData["Title"] = "EditTechnologi";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
}

<div class="main-content" id="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title" style="font-size: 25px;">ویرایش تکنولوژی</h5>
                </div>
                <div class="card-body" style="float: right !important;">

                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="RezomeTecs.RezomeId"/>
                        <input type="hidden" asp-for="RezomeTecs.RTId"/>
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label class="control-label" for="UserName">عنوان </label>
                                    <input type="text" asp-for="RezomeTecs.TecTitle" class="form-control">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" style="width: 100%;" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

